// This is a file with some example Sass to show how to route images and more someday maybe

.imagehere {
	background: url(../images/puppy.jpg) no-repeat 0 0;
	display: block;
	width: 640px;
	height: 640px;
}